* {
    list-style: none;
    text-decoration: none;
}



body{
    max-width: 100vw;
    margin: 0;

}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.bandeau{
    display: flex;
    width: 100%;
}

.logo{
    width: 14%;
    background-color:yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo img{
    width: 65%;
}

.logo p{
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
}

.titre{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #FFFFFF;
    padding-right: 1em;
    font-size: 36px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
nav{
    display: flex;
    align-items: center;

}
nav a{
    font-size: large;
    font-family: sans-serif;
    padding-right: 1em;
    color: #6a6969;
    transition: 0.5s;
}

nav a:hover{
    color: white;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    font-size: 20px;
}

#navList{
    display: none;
}

#navList ul{
    border: solid black;
    border-radius: 0.3rem;
    padding: 0%;
}

#navList ul li{
    padding: 0.2rem;
    border: 3px solid black;
    width: 30px;

}

/******************MAIN*********************/

main{
    max-width: 100%;
    text-align: center;
    height: auto;
    padding-bottom: 2em;
    font-size: 20px;
    color: navy;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

hr{
    width: 80%;
}

h2{
    padding-top: 30px;
    margin-top: 0%;
}

/******************** changement photo *********************/

.superContainer{
    display: flex;
    justify-content: center;
}

#blocImage1 {
    position: relative;
    width: 700px;
    height: 460px;
    overflow: hidden;
    border-radius: 2em;
}

#blocImage1 img {
    position: absolute;  
    top: 0;
    left: 0;
    width: 700px;
    height: 460px;
    opacity: 0;
    transition: all 1.5s ease;
}

main p{
    margin: 45px;
    font-weight: 400;
}

.service{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.meca{
    max-width: 32%;
}

.carros{
    max-width: 32%;
}

.pret{
    max-width: 32%;
}

.service img{
    width: 70%;
    padding-top: 60px;
}

.anim {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/******************FOOTER*****************/

footer{
    background: url(../img/foot.jpg);
    background-position: bottom;
    background-size: 500px;
    padding-bottom: 0.5em;
}

.hyperContainer {
    height: auto;
    color: white;
    display: flex;
}

footer h3 i{
    padding-right: 1em;
}

footer h2{
    padding-right: 1em;
}

footer h2 i{
    margin: 1em;
}


.contact2{
    border: 1px solid transparent;
    background-color: orangered;
    width: auto;
    padding: 0.5em;
    margin: 1em;
    border-radius: 7px;
    color: white;
    transition: all 0.2s;
}

.contact2:hover{
    background-color: blue;
}

.container1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li{
    padding: 0.5em;
    font-size: 18px;
}

footer li i{
    padding-right: 0.5em;
}

footer li a{
    color: white;
    transition: all 0.4s;
}

footer li a:hover{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 21px;
}

footer img{
    width: 40%;
    margin-top: 2em;
    border-radius: 2em;
    margin-left: 1.5em;
}

.mention {
    margin-top: 1em;
}

.mention a{
    color: white;
}




/************************ Mon screen ***********************/

@media screen and (max-width: 1200px){

    .container1{
        width: 35%;
    }

    .container2{
        width: 65%;
    }

}


  @media screen and (max-width: 900px){

    .bandeau{
        display: flex;
        flex-direction: column;
    }
    .logo{
        background-color: white;
        width: 100%;
    }
    .logo img{
        width: 20%;
    }

    .titre{
        width: 100%;
        text-align: center;
        flex-direction: initial;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #navAffiche{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: black;
        border-radius: 0 0 0 5em;
        height: 400px;
        top: 0;
        position: absolute;
        margin-left: -5em;
    }
    

    .disp{
        display: none;
        padding-right: 2em;
        padding-left: 2em;
    }

    #navList{
        margin-left: 0%;
        position: unset;
        display: block;
    }
    h1{
        font-size: 200%;
        padding: 0.5em;
    }

    /*****************MAIN****************/
    
main{
    font-size: 17px;
}

    #blocImage1{
        width: 550px;
        height: 360px;
        margin-top: 2em;
    }

    #blocImage1 img{
        width: 550px;
        height: 360px;
    }

.service{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meca{
    max-width: 75%;
}

.carros{
    max-width: 75%;
}

.pret{
    max-width: 75%;
}

    h2{
        font-size: 22px;
    }
    /*********************footer**********************/

    .container2{
        flex-direction: column;
        align-items: center;
    }

    footer img{
        width: 55%;
    }
  }


  @media screen and (max-width: 750px){

    h1{
        font-size: 150%;
    }

    h2{
        font-size: 20px;
        margin-top: 1em;
    }

    #navAffiche{
        margin-left: -3em;
    }

    main{
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .service{
        justify-content: initial;
        flex-direction: column;
    }

    
    #blocImage1{
        width: 350px;
        height: 260px;
    }

    #blocImage1 img{
        width: 350px;
        height: 260px;
    }


    /******************footer***************/
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2{
        font-size: 20px;
    }

    .container2{
        flex-direction: column;
    }

    footer img{
        width: 50%;
    }


  }

  @media screen and (max-width: 576px){

    .titre{
        display: flex;
        flex-direction: column;
    }

    #navAffiche{
        margin-left: 0;
    }

    h1{
        margin: 1em;
    }

    main{
        font-size: 13px;
    }

    
    h3 {
        padding-left: 10px;
    }
    
    .hyperContainer{
        flex-direction: column;
    }

    .container1{
        width: 100%;
        flex-direction: column;
    }

    .container2{
        width: 100%;
        flex-direction: column;
    }


  }